<!doctype html>
<html>
   <body>
    <center><title> Fetch Remote Machine user's info </title>
        <h2> Fetch root and interactive shell user info </h2>
        <p>----------------------------------------------</p>
        <form action = "http://localhost:5000/result" method="post">
            <p>Server Host : <input type=text name=host>
            <p>Username : <input type=text name=username>
            <p>Password : <input type=text name=password>
            <p><input type=submit value=submit>
        </form>
    </center>
   </body>
</html>